<<<<<<< HEAD
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 93px;
    background-color: #012D63;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 29px;
}
a {
    text-decoration: none;
}
.active {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.navbar-link {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: "Light";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #C7C7C7;
}
.hero {
    background-image: url("./images/Group 37 (1) 1.png");
    background-size: cover;
    color: black;
    width: 100%;
    height: 858px;
    display: flex;
    justify-content: center;
}
.container {
     width: 1142px;
    margin: 0 auto;
    padding: 0px 15px;
}
.logo img {
    width: 160px;
    height: 120px;
}
.logo-text {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 144px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.subtitle {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
p, h1, h3, h4 {
    color: #FFFFFF;
}
.description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: 12px;
}
.btn {
    width: 254px;
    height: 67px;
    border: none;
    border-radius: 10px;
    background-color: #8E32C6;
    margin-top: 41px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
=======
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 93px;
    background-color: #012D63;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 29px;
}
a {
    text-decoration: none;
}
.active {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.navbar-link {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: "Light";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #C7C7C7;
}
.hero {
    background-image: url("./images/Group 37 (1) 1.png");
    background-size: cover;
    color: black;
    width: 100%;
    height: 858px;
    display: flex;
    justify-content: center;
}
.container {
     width: 1142px;
    margin: 0 auto;
    padding: 0px 15px;
}
.logo img {
    width: 160px;
    height: 120px;
}
.logo-text {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 144px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
.subtitle {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}
p, h1, h3, h4 {
    color: #FFFFFF;
}
.description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-top: 12px;
}
.btn {
    width: 254px;
    height: 67px;
    border: none;
    border-radius: 10px;
    background-color: #8E32C6;
    margin-top: 41px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    cursor: pointer;
}
/* .advantages {
    width: 100%;
    background-image: url("./images/Group 8 1.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.stars {
    margin: 215px 130px 985px 130px;
    width: 240px;
    height: 346px;
}
.advantage {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
} */
/* .box {
    border: 5px solid #8E32C6;
    margin: 105px 165px;
} */
 .features-container {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    margin: 50px auto;
    padding: 40px;

    border: 5px solid #8E32C6;
 }
 .feature-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
 }
 .feature-img {
  max-width: 150px;              
  height: auto;                   
  object-fit: contain;
}


.feature-title {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: "Regular";
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    text-align: center;
}
.features-section {
    background-image: url(./images/Group\ 8\ 1.png);
    width: 100%;
    height: 606px;
    gap: 0;
>>>>>>> 8feed4b (Зробив другу секцію)
}